@media (max-width: 858px) {

    header nav label {
        display: block;
        color: #4e5048;
        font-size: 3rem;
        position: absolute;
        right: 20px;
        transition: .5s;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        top: 3px;
    }

    header label:hover {
        background-color: #c7cfd3;
    }

    nav ul {
        position: absolute;
        width: 60%;
        height: 100vh;
        background-color: #eef6ea;
        top: 60px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    nav ul li {
        display: block;
        margin: 30px;
    }

    a.active, a:hover {
        background-color: none;
    }

    #check:checked ~ ul {
        left: 0;
    }

    h1 {
        font-size: 3.5rem;
    }

    main section:nth-child(2) article p:nth-child(2) {
        font-size: 2rem;
    }

    main section:nth-child(2) article h2 {
        font-size: 1.8rem;
    }

}

@media (max-width: 600px) {
    
    main section:nth-child(3) article h2 {
        text-align: center;
    }

    main section:nth-child(4) article h2, h3, h4 {
        text-align: center;
    }

    main section:nth-child(4) article div div:last-child {
        width: 300px;
    }
}